

:root.theme-dark {
  --title-color: #DB00FF !important;
  --text-color: #F1B2CE !important;
  --sub-text-color: #000028 !important;
  --sub-body-color: #000028;
  --accent-color: #ff0070 !important;
  --btn-color:#ff0070 !important;
  --backgroung-image: url(../images/cover-image-dark.png) !important;
}

