

.theme_dark {
  --title-color: #DB00FF !important;
  --text-color: #F1B2CE !important;
  --sub-text-color: #000028 !important;
  --accent-color: #ff0070 !important;
  --btn-color:#ff0070 !important;
  --backgroung-image: url(../images/cover-image-dark.png) !important;
}

.theme_dark .decorative__element {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
} 