:root.theme-light {
  --title-color: #FFC2E6 !important;
  --text-color: #353430 !important;
  --sub-text-color: #353430 !important;
  --sub-body-color: #FFF1F7;
  --accent-color: #ff8dcb !important;
  --btn-color: #FF8DCB !important;
  --backgroung-image: url(../images/cover-image-light.png) !important;
}


@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6 !important;
    --text-color: #353430 !important;
    --sub-text-color: #353430 !important;
    --accent-color: #ff8dcb !important;
    --btn-color: #FF8DCB !important;
    --backgroung-image: url(../images/cover-image-light.png) !important;
  }

  .rec {
    display: none;
  }
}