.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-attachment: fixed;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
}

.header {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0px 13px 1.5px 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}


.rec {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  gap: 11px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  margin: 20px;
}

.rec::after {
  display: block;
  content: "";
  inline-size: 13px;
  block-size: 13px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}


.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}


.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
}

.title-text {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
  margin-top: 52px;
}




.content-section {
  margin: 59.9px 0px;
}

.content__section-heading {
  color: var(--sub-title-color);
  font-size: var(--font-size);
}

.content__section-article {
  margin-bottom: 20px;
}

.article-heading,
.content__section-subtitle {
  background-color: var(--btn-color);
  color: var(--sub-text-color);
  font-size: var(--font-size);
  margin-bottom: 10px;
}

.article-text {
  color: var(--text-color);
}

.article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.article-heading-thin {
  font-weight: 400;
}

.content__section-subtitle {
  margin-bottom: 20px;
}

.main {
  margin: 0px 20px;
}

.issues {
  display: grid;
  gap: 20px;
  grid-template-columns: 32% 66%;
}



.heading-reasons {
  max-width: 32%;
}

.tips {
  display: grid;
  gap: 20px;
  grid-template-columns: 32% 66%;
}

.content__section-articles {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 20px;
  padding-block-start: 20px;
}


.gallery-heading {
  margin-bottom: 20px;
}

.gallery__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.picture__sunset {
  grid-column: 1 / 3;
}

.picture__ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.picture__tape {
  grid-row: 2 / 4;
}

.picture__street {
  grid-column: 2 / 4;
}

.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;

}


@media (max-width:768px) {
  .content-section {
    margin: 0px;
  }

  .issues {
    margin-top: 60px;
    grid-template-columns: 32% 65%;
  }

  .reasons {
    margin-top: 60px;
  }

  .tips {
    margin-top: 80px;
    grid-template-columns: 32% 65%;
  }

  .gallery {
    margin-top: 60px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    margin-top: 37px;
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__section-articles {
    display: block;
  }


  .footer {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}


@media (max-width:560px) {
  .header {
    padding: 10px;
  }

  .issues {
    margin-top: 40px;
    display: block;
  }

  .reasons {
    margin-top: 0px;
  }

  .tips {
    margin-top: 0px;
    grid-template-columns: 32% 65%;
    display: block;
  }

  .gallery {
    margin-top: 0px;
  }

  .header__title {
    margin-left: 0px;
    line-height: 83%;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .rec {
    padding-right: 7px;
    margin: 10px;
  }

  .header__text {
    margin-top: 0px;
    max-inline-size: 355px;
    max-block-size: 117px;
  }

  .main {
    margin: 0px 11px;
  }

  .heading-reasons {
    max-width: 100%;
  }

  .header__theme-menu-button {
    padding: 0px 14px;
  }

  .gallery__img {
    margin-top: 10px;
  }

  .gallery-heading {
    margin: 0;
  }

  .gallery__items {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  .content-section {
    margin: 0px 0px 50px 0px;
  }

  .content__section-artiles,
  .content__section-subtitle {
    margin-top: 20px;
  }



  .footer {
    margin-top: 0px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px 10px;
  }

  .frame::after {
    block-size: 25px;
    margin: 10px 10px;
  }
}